section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-signup {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.form-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 4rem;
}

.form-items {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 1.5rem;
  margin-left: 4rem;
}

.bg-logo {
  background-color: black;
  width: 200px;
  height: 200px;
  border-radius: 50px;
  margin: 30px 0 5px 0;
}

h2 {
  margin: 0 0 10px 0;
}

.fields {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px 0 0 0;
}

.register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

@media (max-width: 800px){
  .form {
    flex-direction: column;
  }

  .form-header {
    margin-right: 0;
  }
  
  .form-items {
    margin-left: 0;
  }
}